{% extends 'admin/base.html.twig' %}
{% block centre %}
  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Administration : <small>des commandes clients du magasin sur le site Ecommerce</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Vous rechercher...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Recherche</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Commandes <small>en cours de preparation</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      
                    </p>
                     
                     <div id="message">++++++++++++++++++++++++++++++++++++++++++++++++++++</div>
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Prix</th>
                          <th>Date</th>
                          <th>Quantité</th>
                          <th>Reference</th>
                          <th>En cours</th>
                          <th> - </th>
                          
                          
                        </tr>
                      </thead>
                      {%  if clients is defined %}
                      <tbody>
						{% for cli in clients %}
                        <tr width="10%">
                          <td>{{ cli.id }}</td>
                          <td>{{ cli.price }}</td>
                          <td>{{ cli.statusdate|date('m-d-Y h:i:s') }}</td>
                          <td>{{ cli.quantity }}</td>
                          <td>{{ cli.codeorder }}</td>
                          <td>
                          	
                          <SELECT name="status"  id="status{{ cli.id }}">
                               
                                <OPTION id="Envoyer2" {%  if cli.status =='en cours de livraison' %} selected  {% endif %}>en cours de livraison</OPTION>
                                <OPTION id="Envoyer3" {%  if cli.status =='livré' %} selected  {% endif %}>livré</OPTION>
                                
                          </SELECT>
                         
						  </td>
						  
                          <td>
                          
                          </td>
                          
                        </tr>
                        {% endfor %}
                         {% endif %} 
                         <tr id="ajax"> </tr>
                      </tbody>
                     
                    </table>
                    
                    
                    
                    
                    
                       
                  </div>
                </div>
              </div>
              </div>
             </div>
            </div>
        <!-- /page content -->
{% endblock %}	
{% block css %}
<style type="text/css">
td {
	padding:5px;
	
}
#ajouter tr {
	background-color: #d2d5d7;
	padding:5px;
}
h2 {
	text-align: center;
}
a:hover {
	color : #b636bb;
}
</style>
{% endblock %}	

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
//quand la page est chargé alors on execute le code dans les balises script
$(document).ready(function(){
	
	
	{%  if clients is defined %}
    //on utilise un boucle twig sur le tableau form-email qui a recuperer les données de la table form_email
	{% for cli in clients %}
	
	$("#status{{ cli.id }}").on("change", function(event){
		console.log(event);
		var id= {{ cli.id }};
		//url de la route pour modifier en db le statut de envoyer
		var url = "/admin/encoursclient/{{ cli.id }}&{{ cli.quantity }}&{{ cli.idproduct }}";
		//action ajax qui envoie l'url de la route et
		$.ajax(url).done(function(data){
				 //on va selectionné la balise envoyer(id) et vider l'interieur
				 $('#status{{ cli.id }}').empty();
				 //on ajoute le text envoyer 
				 $('#status{{ cli.id }}').before('livré');
				 //on efface la balise select
				 $('#status{{ cli.id }}').remove();
				 console.log('data '+data);
				 $('#message').empty();
				 console.log('data : '+data);
				 $('#message').prepend(data);
				 
			});
		
		

			
	});


	{% endfor %}
		
    {% endif %} 
		

	
});

</script>
{% endblock %}