{% extends 'admin/base.html.twig' %}
{% block centre %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
          <!--   <div class="page-title">
              <div class="title_left">
                <h3>Form Elements</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
 -->
            <div class="row">

              <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Basic Elements <small>different form elements</small></h2>
                    <!-- <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul> -->
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    {% if stock is defined %}
                    {% for stock in liststocks %}
                    <form class="form-horizontal form-label-left" action="/admin/stock/update/{{ stock.id }}" method="post">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Identifiant (ID) </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" class="form-control" disabled="disabled" placeholder="Identifiant" value="{{ stock.id }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="quantity" class="form-control" disabled="disabled" placeholder="quantity"  value="{{ stock.qty }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Receipdate</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="idcustomer" class="form-control" disabled="disabled" placeholder="receipdate"   value="{{ stock.receipdate }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Id Supplier</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="idproduct" class="form-control" disabled="disabled" placeholder="idsupplier"   value="{{ stock.idsupplier }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order qantity</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="deleted" class="form-control" disabled="disabled" placeholder="orderqty"   value="{{ stock.orderqty }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order date</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="codestock" class="form-control" disabled="disabled" placeholder="orderdate"   value="{{ stock.orderdate }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Delay</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="statusdate" class="form-control" disabled="disabled" placeholder="statusdate"   value="{{ stock.delay }}">
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button id="editbtn" type="submit" class="btn btn-primary">Edit</button>
                          <button id="submitbtn" type="submit" disabled="disabled" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                    {% endfor %}
                    {% else %}
                      <form class="form-horizontal form-label-left" action="/admin/stock/add/{{ stock.id }}" method="post">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Identifiant (ID) </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" class="form-control" placeholder="Identifiant" value="{{ stock.id }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Id Product</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="quantity" class="form-control"  placeholder="Id Product"  value="{{ stock.idproduct }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Quantity</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="idcustomer" class="form-control"  placeholder="Quantity"   value="{{ stock.qty }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Receipt Date</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="idproduct" class="form-control"  placeholder="Receipt Date"   value="{{ stock.receiptdate }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Id Supplier</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="deleted" class="form-control"  placeholder="Id Supplier"   value="{{ stock.idsupplier }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order Quantity</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="codestock" class="form-control"  placeholder="Order Quantity"   value="{{ stock.orderqty }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Order Date</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="statusdate" class="form-control"  placeholder="Order Date"   value="{{ stock.orderdate }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Delay</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" name="status" class="form-control"  placeholder="Delay" value="{{ stock.delay }}">
                        </div>
                      </div>
                   
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button id="editbtn" type="submit" class="btn btn-primary">Edit</button>
                          <button id="submitbtn" type="submit" disabled="disabled" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                    
                    {% endif %}
                  </div>
                </div>
              </div>


            </div>




          </div>
        </div>
        <!-- /page content -->
{% endblock %}

{% block javascripts %}
    <script>
      $(document).ready(function(){
          $('#editbtn').on("click", function(event){
              event.preventDefault();
        	  $('form>div>div>input:not(:first)').prop("disabled", !$('form>div>div>input:not(:first)').prop("disabled"));
        	  $('#submitbtn').prop("disabled", $('form>div>div>input:not(:first)').prop("disabled"));
          });
      });
    </script>
{% endblock %}