{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<div class="contact">
			<h2>PROFIL</h2>
			<div class="contact-in">
    			<div class=" col-md-3 contact-right"></div>
    			<div class=" col-md-9 contact-left">
    				<form name="profil" action="/profil.html" method="post">
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Login informations</h3>
    					</div>
    					{% for profil in allProfil %}
    					<div>
    					<label style="font-weight: normal;"><span>Email : </span></label>
    						<input name="email" type="text" class="textbox" value="{{ profil.email }}" />
    				
    					</div>
    					<div>
    						<label style="font-weight: normal;"><span>Password : </span></label>
    						<input name="password" type="password" class="textbox" value="{{ profil.password }}" />
    					</div>
    					<div>
    						<span>Username&nbsp;&nbsp;&nbsp;<em>*need to log out to apply modification</em></span>
    						<input name="username" type="text" class="textbox" value="{{ profil.username }}" />
    					</div>		
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Personal informations</h3>
    					</div>	
    					<div>
    						<span>Civility</span>
    						<input name="civilite" type="radio" value="Monsieur" {% if profil.civilite == 'Monsieur' %}checked{% endif %}> Mister&nbsp;&nbsp;&nbsp;
    						<input name="civilite" type="radio" value="Madame" {% if profil.civilite == 'Madame' %}checked{% endif %}> Miss&nbsp;&nbsp;&nbsp;
    					</div>
    					<div>
    						<span>Firstname</span>
    						<input name="prenom" type="text" class="textbox" value="{{ profil.prenom }}" />
    					</div>
    					<div>
    						<span>Lastname</span>
    						<input name="nom" type="text" class="textbox" value="{{ profil.nom }}" />
    					</div>
    					<div>
    						<span>Tel</span>
    						<input name="telephone" type="text" class="textbox" value="{{ profil.telephone }}" />
    					</div>
    					<div style="margin: 2em 0 1em 0;">
    						<h3>Adress information</h3>
    					</div>
    					<div>
    						<span>Number</span>
    						<input name="numero" type="text" class="textbox" value="{{ profil.numero }}" />
    					</div>
    					<div>
    						<span>Street</span>
    						<input name="rue" type="text" class="textbox" value="{{ profil.rue }}" />
    					</div>
    					<div>
    						<span>Postal Code</span>
    						<input name="cp" type="text" class="textbox" value="{{ profil.cp }}" />
    					</div>
    					<div>
    						<span>Town</span>
    						<input name="ville" type="text" class="textbox" value="{{ profil.ville }}" />
    					</div>
    					<div style="height:1em;">
    					</div>
    					{% endfor %}
    					<div>
    						<input type="submit" value="Submit">
    					</div>
    				</form>
    			</div>
    		</div>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}